<%- include('partials/navbar', { page: '' }) %>

<h1 class="text-3xl font-bold mb-4"><%= project.title %></h1>

<img src="<%= project.feature_img_url %>" alt="Image" class="w-full h-64 object-cover mb-4" />

<p><strong>Sector:</strong> <%= project.Sector.sector_name %></p>
<p class="mt-2"><strong>Intro:</strong> <%= project.intro_short %></p>
<p class="mt-2"><strong>Summary:</strong> <%= project.summary_short %></p>
<p class="mt-2"><strong>Impact:</strong> <%= project.impact %></p>
<p class="mt-2"><strong>Source:</strong>
  <a href="<%= project.original_source_url %>" target="_blank" class="text-blue-600 underline">Original Link</a>
</p>

<a href="/solutions/editProject/<%= project.id %>" class="btn btn-primary mt-4 inline-block">Edit Project</a>
